.update-tab-header {
    background-color: #00bfff;
    padding: 10px; /* Reduced padding */
    text-align: center;
    border-bottom: 1px solid #00bfff;
}

.update-tab-header h2 {
    font-size: 18px; /* Reduced font size for the heading */
    margin: 0; /* Remove default margin */
}
